### Assignment  - Uber Data Analysis

The dataset contains the uber trips details for year 2016.
Lets explore the dataset

#### Dataset - 
The dataset contains Start Date, End Date, Start Location, End Location, Miles Driven and Purpose of drive (Business, Personal, Meals, Errands, Meetings, Customer Support etc.)

#### Steps to Solve the Assignment:

1.Import the libraries

2.Load the data

3.Answer the questions

In [1]:
#Import the libraries
import numpy as np
import pandas as pd

1. Read the data from csv , file name : uberdrive.csv

2. Display first 20 rows of data

3. Display last 10 rows from the data

4. Access the shape and Size attribute of the dataframe

5. call info method on the dataframe

6. Check for total number of null/missing rows in the dataframe

7. Return the Rows where the value of PURPOSE column is null

8. Return the Dataframe where the value in Miles Column is greater than 50

##### Renaming the columns

9. Sort the values of the data frame by the column of : MILES in an Ascending Order

10. Return the minimum value present in column of MILES

11. Return the maximum value present in column of MILES

12. Remove the last row from the dataframe & store in a new dataframe as : df2

13. Call describe method on a dataframe

14. Drop null values from the dataframe ? Hint: use `dropna()` method & store in a new data frame df3

15. Get the list of Unique Start points. (from original df dataframe)

16. What is the Total Number of Unique Start Points ?

17. Get the list of Unique STOP points. (from Original df dataframe)

18. What is the Total Number of Unique STOP Points ?

19. Group the Dataframe by START points, and perform the aggregation of Sum of the column of MILES

20. Create a function that will help in parsing the column of START DATE & END DATE.

Requirement:

Function should take the value as: "1/1/2016 21:11" (Month, Date, Year , Hour, Minutes)

Return as :  datetime.datetime(2016, 1, 1, 21, 11)  (Year Month Date Hour Minutes)

(Refer to Exploratory Data Analysis section for help)

21. Apply Previously create date parser on the column of START DATE & END DATE with df2 (where the last row removed)

22. Take the difference between END date and Start date to get the total journey time of the ride

23. Return the row with Maximum journey time