1. import pandas library as pd, and display the version

2. Create a pandas series from : list, tuple & numpy array object

3. Create a pandas series which contains the values : 10,20,30,40,50, and its Index as : A,B,C,D & E

4. Create a Pandas Series, and call the function : reset_index() on it. Share the data type of the Returning output
For example:
If I have the pandas Series as : ser
then, call :ser.reset_index()
and return the data type of the resulting object, and share your observation

5. Create two pandas series.
    - ser1 with values between 10 and 50
    - ser2 with values between 60 to 100
    
    
    convert the pandas series to DataFrame using pd.concat function

6. Create a Dataframe using the numpy array of (5,6) - (use any array function to generate the array)

7. Create a DataFrame using np.random.randint(10,150,(5,5)) , and return the dataframe where the value is less than 100

8. How do you load a csv file as a DataFrame, if the file name is : "housing.csv"

9. How do you display first 10 rows from the dataframe ?

10. Load the csv file present in the attachment as DataFrame, and share the results after calling describe() function on it